html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  line-height: 2rem;
}

a:hover {
  text-decoration: underline;
}


/* NOTE: Header */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  background-color: white;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid gray;
}

header .desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

header p {
  font-weight: bold;
}

header #title {
  color: grey;
  font-weight: normal;
}

header .desktop ul {
  display: flex;
}

header .desktop li {
  padding-right: 16px;
}

header .desktop li:last-child {
  padding-right: 0;
}

header nav.mobile {
  display: none;
}

@media only screen and (max-width: 470px) {

  header .desktop {
    display: none;
  }

  header nav.mobile {
    display: flex;
    justify-content: space-around;
    flex: 1;
  }
}

/* NOTE: Banner */

.banner {
  background-color: #383F51;
  color: #E8E9EB;
  width: 100%;
  height: auto;
}

.banner .content {
  display: flex;
  width: auto;
  padding-top: 4rem;
}

.banner .content img {
  width: 60%;
  height: 500px;
  margin: 32px 24px;
}

.banner .content #slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

.banner .content #slogan h1 {
  margin-bottom: 10px;
  line-height: 2.5rem;
}

.banner .content #slogan p {
  font-weight: bold;
  padding: 1rem 0;
}

.banner .content #button {
  background-color: #F9564F;
  padding: 8px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 2px;
  color: #E8E9EB;
  transition: all 200ms linear;
}

.banner .content #button:hover {
  background-color: #E8E9EB;
  color: #0A2463;
}

@media only screen and (max-width: 470px) {
  .banner .content {
    display: flex;
    flex-direction: column;
  }

  .banner .content img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .banner .content #slogan {
    margin: 32px 16px;
    width: auto;
  }

  .banner .content #slogan h1 {
    margin-bottom: 32px;
  }

  .banner .content #button {
    margin-top: 24px;
  }
}

/* NOTE: More Info section */

.info {
  width: 100%;
  height: auto;
}

.info .content {
  display: flex;
  margin: 32px 0;
}

.info .left {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 24px;
}

.info .left img {
  height: 65%;
}

.info .left h1 {
  padding: 32px 0 24px 0;
}

.info .left #quote {
  font-size: .75rem;
  font-family: Arial;
}

.info .left .flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25%;
}

.info .right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.info .right .topic {
  display: flex;
}

.info .right .topic img {
  width: 35%;
  height: auto;
  margin: 16px;
}

.info .right img.mobile {
  display: none;
}

.info .right .topic:first-child img {
  margin-top: 0;
}

.info .right .about {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.info .right #lecture {
  background-color: #A7BED3;
}

.info .right h2 {
  margin-bottom: 5px;
}

.info .right a {
  margin-top: 5px;
  color: blue;
}

@media only screen and (max-width: 470px) {
  .info .content {
    margin: 1rem 1rem 2rem 1rem;
  }

  .info .left.desktop {
    display: none;
  }

  .info .right {
    width: 100%;
  }

  .info .right .topic {
    display: flex;
    flex-direction: column;
  }

  .info .right img.desktop {
    display: none;
  }

  .info .right img.mobile {
    display: inline-block;
    width: auto;
    margin: 1rem 0;
  }

  .info .right .about {
    align-items: flex-start;
    margin-left: 16px;
  }

  .info .right #lecture {
    background-color: white;
  }
}

/* NOTE: Courses section */
.courses {
  display: flex;
  flex-direction: column;
  background-color: #A7BED3;

}
 .courses h1 {
   padding: 2rem 0;
   text-align: center;
 }

 .courses .directory {
  display: flex;
  margin: 0 40px 32px 72px;
 }

.courses .subject {
  display: flex;
  flex-direction: column;
  width: 30%;
  flex: 1;
  margin-right: 32px;
  background-color: #E8E9EB;
}

.course .subject img {
  height: auto;
  width: 100%;
}
.courses .description {
  padding: 1rem 0 1.5rem 1rem;
}

.courses .description h2 {
  padding-bottom: 0.5rem;

}

.courses .description p {
  padding-top: 0.5rem;
}

.courses .mobile {
  display: none;
}

@media only screen and (max-width: 470px) {
  .courses .desktop {
    display: none;
  }

  .courses .mobile {
    display: block;
    margin: 0 1rem 1.5rem 1rem;
  }

  .courses .mobile p {
    background-color: #E8E9EB;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 1rem 0 1.5rem 1rem;
    margin-bottom: 0.5rem;
  }
  .courses h1 {
    padding: 2rem 0 1.5rem 0;
  }
}

/* NOTE: Thesis Section */

.thesis {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.thesis h1 {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.thesis .projects {
  display: flex;
}

.thesis .featured-project {
  width: 60%;
  margin: 0 2rem;
}

.thesis .featured-project video {
  width: 100%;
}

.thesis .featured-project h2 {
  margin: 1.5rem 0 0.5rem 0;
}

.thesis .featured-project p {
  margin-bottom: 2rem;
}

.thesis .other-projects {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 500px;
  margin-right: 0.5rem;
}


.thesis .project {
  width: auto;
  display: flex;
}

.thesis .project:first-child {
  background-color: #A7BED3;
}

.thesis .project img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.thesis .project .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media only screen and (max-width: 470px) {
  .thesis .desktop {
    display: none;
  }

  .thesis h1 {
    padding: 2rem 0 1rem 0;
  }

  .thesis .featured-project {
    width: 100%;
    margin: 0 0 2rem 0;
  }

}

/* NOTE: Footer Section */

footer {
  border-top: 1px solid darkgray;
  padding-bottom: 2rem;
  background-color: #0A2463;
}

footer * {
  font-size: 0.75rem;
  color: #A7BED3;
}

footer .copyright {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0 2rem;
}

footer a {
  padding: 0.5rem;
}

@media only screen and (max-width: 470px) {
  footer .desktop {
    display: none;
  }

  footer {
    padding: 1rem 0;
  }

  footer .copyright {
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 2rem;
  }
}
